body{
height: 100%;
}
/*輪播*/
.carousel-inner{
width: 100%;
}
.carousel-item {
width: 100%;
}
.carousel-item img{
width: 100%;
height: 100%;
}
/*第二大格*/
.big{
width: 100%;
height: 900px;
background-color: #EFDFCA;
}
.small{
width: 100%;
height: 300px;
}
.smalls{
width:700px;
height: 150px;
position: absolute;
margin:190px 0px 0px 670px ;
}
.small h2{
font-size: 50px;
font-weight: bold;
}
.small{
font-size: 25px;
}
/*圖片格*/
.mid{
width: 100%;
height: 500px;
background-color: #EFDFCA;
}
.mid img{
width: 500px;
height: 500px;
border:1px solid #fff;
margin: 50px;
}
.mid1{
width: 33.33333%;
float: left;
text-align: center;
position: relative;
}
.txt{
position: absolute;
top: 8.5%;
right: 0;
bottom: 0;
left: 10.3%;
padding: 20px;
background-color:rgba(0,0,0,.6);
display: flex;
justify-content: center;
flex-direction: column;
opacity: 0;
transition: : opacity .5s;
width: 500px;
height: 500px;
}
.txt a{
color: white;
font-family: Microsoft JhengHei;
font-size: 20px;
}
.mid1:hover  .txt{
opacity: 1;
}
/*商品頁*/
.nothing{
width: 100%;
height: 250px;
background-color: #EFDFCA;
}
.page{
width: 100%;
height: 4500px;
}
.side1{
width: 15%;
height: 1500px;
float: left
}
/*...........側邊欄........*/
.stay-left{
top:0px;
left:0px;
height:100%;
z-index:3;
}
.side-menu nav i{
margin-right:5px;
font-family: Microsoft JhengHei;
}
.side-menu{
width:100%;
height:100%;
background-color: #fff;
display:flex;
flex-direction:column;
box-sizing:border-box;
position: relative;
transition:.3s;
padding-left:5px;
z-index:3;
}
.side-menu form{
padding:5px;
display: flex;
margin:10px 25px 10px;
border-radius:100px;
border:1.5px solid black;
}
.side-menu form input{
border:none;
background-color:transparent;
width:150px;
padding:5px 10px;
}
.side-menu form button{
border:none;
background-color:transparent;
padding:5px 10px;
}
.side-menu .title{
font-size:24px;
text-decoration:underline;
font-weight:550;
font-family: Microsoft JhengHei;
color: #000;
margin: 0px 10p;
}
#side-menu-switch{
position:absolute;
opacity:0;
}
#side-menu-switch:checked + .side-menu{
transform:translateX(0);
}
#side-menu-switch:checked + .side-menu label .fa{
transform:scaleX(-1);
}
.side-menu nav a{
display:block;
padding:10px;
color:#8B4513;
font-weight:500;
text-decoration:none;
position:relative;
font-size: 20px;
font-family: Microsoft JhengHei;
margin-left:18px;
}
.side-menu nav a .fa{
margin-right:-0.5em;
transform:scale(0);
transition:.3s;
}
.side-menu nav a:hover .fa{
margin-right:5px;
transform:scale(1);
}
ul,li{
list-style-type:none
}
/*...........側邊欄結束........*/
/*...........商品頁開始........*/
.mainn{
width: 85%;
height: 4000px;
float: left;
}
.w350{
width: 400px;
height: 600px;
float: left;
margin-bottom:10px;
}
.w350 p{
margin:10px 10px ;
font-family:monospace;
position:relative;
top:480px;
font-size:1.15rem;
font-family: Microsoft JhengHei;
}
.first{
width:400px;
height: 480px;
position:absolute;
}
.second{
width:400px;
height: 480px;
opacity:0;
position:absolute;
}
.second:hover{
transition:0.4s;
opacity:1;
}
.s{
width:1450px;
height:4000px;
margin:50px 150px;
position:relative;
}
/*...........商品頁結束........*/
/*...................Box2開始...................*/
.login-a{
width: 600px;
color: #806945;
background-color:#89B0AE;
border-radius: 8px;
backdrop-filter:blur(5px);
display: flex;
justify-content: center;
align-items:center;
}
.form-a{
width: 400px
color:#FFF;
}
.form-a h2{
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #806945;
}
.form-a .group-1{
margin-bottom: 20px;
}
.form-a label{
line-height: 2;
}
.form-a input{
width: 100%;
border: 1px solid #aaa;
line-height: 2;
border-radius: 5px;
}
.form-a .btn-group-1{
font-size: 0;
}
.form-a .btn-1{
font-size: 15px;
border-radius: 5px;
border:none;
width: 200px;
padding:10px 0;
margin-top: 10px;
}
.form-a .btn-1 + .btn-1{
margin-left: 40px;
}
.btn-1 {
padding: 10px 20px;
border: 1px solid #C7C7C7;
background: -webkit-linear-gradient(#BFBFBF, #F7F7F7);
background: -o-linear-gradient(#BFBFBF, #F7F7F7);
background: linear-gradient(#BFBFBF, #F7F7F7);
background-color: #F7F7F7;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
color: #806945;
font-size: 14px;
font-family: '微軟正黑體';
text-decoration: none;
font-weight: bold;
-webkit-transition: 0.2s;
-moz-transition: 0.2s;
-o-transition: 0.2s;
cursor: pointer;
}
.btn-1:hover {
background: none;
background-color: #F7F7F7;
border: 1px solid #ffffff;
color: #301010;
}
.btn-1:active {
top: 1px;
position: relative;
}
/*...................Box2結束...................*/
/*.................交易紀錄....................*/
.trade{
width:80%;
height:auto;
margin-right:auto;
margin-left:auto;
margin-top:150px;
margin-bottom:50px;
font-family: Microsoft JhengHei;
color: #806945;
}
.trade-title{
height:60px;
line-height:60px;
font-size:32px;
font-weight:500;
text-align:center;
background-color: #FFF;
}
.trade-main{
background-color: #fff;
height:auto;
border-bottom:1px solid  #806945;
}
.trade-1 a{
text-decoration:none;
color:black;
color: #806945;
}
.trade-1 ul{
display:flex;
font-size:18px;
margin-bottom:0;
margin-right:885px;
}
.trade-1{
display:flex;
border-bottom:1px solid  #806945;
}
.trade-1 form{
padding:10px 10px 5px 10px;
}
 .trade-1 li{
           color: #806945;
	       font-size:30px;
	       font-family: Microsoft JhengHei;
	       font-weight: bold;
	       padding:10px 10px 5px 10px;
        }
        .trade-1 input{
        	color: #806945;
	       font-size:30px;
	       font-family: Microsoft JhengHei;
	       font-weight: bold;
        }
.trade-2{
margin-top:5px;
}
.trade-2 table{
width:100%;
text-align:center;
font-size:18px;
}
.trade-2 table th{
text-decoration:underline;
}
    .trade-2 th{
        	background-color: 	#FFE5B4;
        	height: 60px;
        	border: 2px solid #806945;
        	color: #806945;
        	 font-family: Microsoft JhengHei;
        	  font-weight: bold;
        	  font-size: 25px;
        }
        .trade-2 td{
        	border: 2px solid #806945;
        	height: 40px;
        	color: #806945;
        	 font-family: Microsoft JhengHei;
        	 font-size: 20px;
        }
        .trade-2 input{
        	height: 30px;
        	width: 180px;
        }
.trade-3{
margin-top:30px;
}
.trade-3 .trade-back {
font-size:20px;
color:black;
text-decoration:none;
background-color:#ccc;
padding:10px;
border-radius:2px;
color: #806945;
}
.trade-3 .go-shopping{
font-size:20px;
color: #806945;
text-decoration:none;
background-color:#ccc;
padding:10px;
border-radius:2px;
position: absolute;
}

.trade-3 .trade-bill {
font-size:20px;
color: #806945;
text-decoration:none;
background-color:#ccc;
padding:10px;
border-radius:2px;
margin-left:1300px;
}
.trade-back img{
width:40px;
height:30px;
margin: -6px 7px 0px 0px;
}
.trade-bill img{
width:40px;
height:30px;
margin: -6px 7px 0px 0px;
}
.go-shopping img{
width:40px;
height:30px;
margin: -6px 7px 0px 0px;
}
/*...................個人商品頁...................*/
.myitem{
width: 100%;
height: 2800px;
overflow: hidden;
}
/*...................個人商品頁(照片)...................*/
.myitem1{
width: 60%;
height: 100%;
float: left;
text-align: center;
overflow:hidden;
}
.myitem1 img{
width: 850px;
height: 900px;
margin: 10px;
}
/*...................個人商品頁(資訊)...................*/
.myitem2{
width: 40%;
height: 100%;
float: left;
overflow:hidden;
}
.myitem2-1{
width: 500px;
height:320px;
margin: 20px 30px;
}
.myitem2-1 h3{
color: #806945;
font-size:21px;
font-family: Microsoft JhengHei;
}
.myitem2-1 p{
color: #806945;
font-size:21px;
font-family: Microsoft JhengHei;
}
.size{
width: 40px;
height: 40px;
border: 3px solid #806945;
text-align: center;
vertical-align: middle;
}
.size1{
width: 30px;
height: 30px;
margin: 2px;
background-color: #EFDFCA;
color: #806945;
font-family: Microsoft JhengHei;
align-items: center;
}
.amount,.item-cart{
width: 350px;
height: 50px;
font-size: 20px;
font-family: Microsoft JhengHei;
color: #806945;
border:3px solid #806945;
margin: 10px -2px;
text-align: left;
}
.item-wish{
width: 350px;
height: 50px;
font-size: 20px;
font-family: Microsoft JhengHei;
color: #806945;
border:3px solid #806945;
margin: 10px 0px;
text-align: left;
}
.course{
width: 350px;
height: 50px;
margin: 5px 0px;
}
.commd{
width: 350px;
height: 50px;
margin: 90px 0px;
}
.accordion {
color: #806945;
cursor: pointer;
padding: 7px;
width:100%;
height: 100%;
border:3px solid #806945;
outline: none;
font-size: 20px;
text-align: left;
margin: 10px 0px;
}
.panel {
max-height: 0;
overflow: hidden;
transition: max-height 0.3s ease-out;
width:100%;
font-size: 20px;
font-family: Microsoft JhengHei;
color: #806945;
border-bottom:0px solid #806945;
}
.showstar{
	margin:60px 40px;
}
/*...................個人商品頁(你可能喜歡)...................*/
.like{
width: 100%;
height: 500px;
margin: 50px 0px;
}
.first1{
width: 300px;
height: 300px;
}
.like-title{
width: 500px;
height: 20px;
color: #806945;
font-size: 20px;
font-weight: bold;
font-family: Microsoft JhengHei;
margin: 0px 450px;
}
.like-main{
width: 1200px;
height: 500px;
margin: 0px 110px;
}
.likepo{
width: 300px;
height: 430px;
float: left;
color: #806945;
}
.likepo p{
margin:10px 10px ;
font-family:monospace;
position:relative;
top:30px;
font-size:1.15rem;
font-family: Microsoft JhengHei;
}
/*評論星星*/
.rating {
font-size: 0;
margin:20px 0px;
}
.rating > label {
color:  #ddd;
float: right;
}
.rating > label:before {
padding: 5px;
font-size: 40px;
line-height: 1em;
display: inline-block;
content: "♥";
}
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
color: #EFDFCA;
}
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
opacity: 0.5;
}
.star1 textarea{
color: #806945;
font-size: 20px;
font-weight: bold;
font-family: Microsoft JhengHei;
}
.btnn{
width: 160px;
height: 50px;
font-size: 20px;
font-family: Microsoft JhengHei;
color: #806945;
border:3px solid #806945;
margin:10px 30px;
text-align: left;
border-radius: 8px;
}
/**會員中心**/
.member-top{
	width: 100%;
	height: 200px;
	text-align: center;
}
.member-top h1{
	color:#806945;
	font-weight: bold;
	font-size:60px;
	font-family: Microsoft JhengHei;
	margin: 80px 0px;
}
.member1{
width: 100%;
height:600px;
margin:30px 0px ;
}
.mm{
	width: 16%;
	height: 100%;
	float: left;
}
.kk{
	width: 7%;
	height: 100%;
	float: left;
}
.member2,.member3{
	width: 30%;
	height:100%;
	float:left;
	font-family: Microsoft JhengHei;
}
.member-title{
	width: 100%;
	height: 45px;
	background-color:#806945;
	color:#fff;
	font-weight: bold;
	font-size:20px;
}
.ll{
	width: 100%;
	height: 80px;
	border-top:0; 
	border-right:0; 
	border-left: 0; 
	border-bottom:3px solid #806945;
	font-weight: bold;
	color:	#DEB887;
	font-size: 30px
}
.tt{
	width: 100%;
	height: 50px;
	border-top:0; 
	border-right:0; 
	border-left: 0; 
	border-bottom:3px solid #806945;
	border-right :3px solid #806945;
	border-left: 3px solid #806945;
	font-weight: bold;
	color:#b07d62;
	font-size: 25px;
	padding:10px 0px;
}
.nomal1{
	width: 100%;
	height: 60%;
	border:5px solid #806945;
	background-color: #fff;
	color: #806945;
	font-size: 25px;
	font-weight: bold;
	margin: 20px 0px;
	border-radius:8px;
}
.nomal1:hover{
	background-color:#806945;
	color: #fff;
}
.nomal{
	width: 100%;
	height: 60%;
	border:5px solid #806945;
	background-color: #fff;
	color: #806945;
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0px;
	border-radius:8px;
}
.nomal:hover{
	background-color:#806945;
	color: #fff;
}
.spec{
	width: 100%;
	height: 60%;
	border:5px solid #f0e8d7;
     background-color:#f0e8d7;
	color: #806945;
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0px;
	border-radius:8px;
}
.spec:hover{
	background-color:#e2cfc4;
	color: #fff;
}
/*評論*/
.trade4{
	width:80%;
height:auto;
margin-right:auto;
margin-left:auto;
margin-top:150px;
margin-bottom:50px;
font-family: Microsoft JhengHei;
color: #806945;
}
.commentmain{
		width: 100%;
	height: 30px;
	text-align: center;
}
.commentmain h1{
	color:#806945;
	font-weight: bold;
	font-size:60px;
	font-family: Microsoft JhengHei;
	margin: 40px 0px;
}
.trade4{
	width: 100%;
	height:1500px;
}
.trade4 table{
	width:100%;
}
.trade4 th{
	text-align: center;
	font-weight: bold;
	text-decoration:underline;
	font-size: 30px;
}
.trade4 td{
	text-align: center;
	font-size: 25px;
	border-right:1px solid #806945; 
}
.commimg{
width:180px;
height: 170px;
margin: 0px 120px;
}